@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root,
body,
html {
  height: 100%;
}


.header {
  overflow: hidden;
  background-color: #0c8131;
  padding: 20px 10px;
  min-width: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: black;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.styled-table {
  border-collapse: collapse;
  width: 98%;
  margin: 1% 1% 25px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #0c8131;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #0c8131;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #0c8131;
}

.ticket h2 {
  background-color: #0c8131;
  color: #ffffff;
  text-align: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 12px 15px;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 200px;
}

.pagination .page-link {
  color: #0c8131;
  border: 1px solid #0c8131;
}

.pagination .page-link:hover {
  background-color: #f3f3f3;
  color: #0c8131;
}

.pagination .page-item.active .page-link {
  background-color: #ff751f;
  border-color: #0c8131;
}

.centering {
  text-align: center;
}

.status-todo {
  background-color: grey;
  color: #ffffff;
  padding: 5px;
  border-radius: 4px;
}

.status-in-review {
  background-color: yellow;
  color: #000000;
  padding: 5px;
  border-radius: 4px;
}

.status-in-progress {
  background-color: blue;
  color: #ffffff;
  padding: 5px;
  border-radius: 4px;
}

.status-done {
  background-color: #01e30d;
  color: #ffffff;
  padding: 5px;
  border-radius: 4px;
}

.text-header {
  color: #ffffff;
}

.custom-button-orange {
  background-color: #ff751f;
  border-radius: 4px;
  border-color: #0c8131;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}

body {
  font-family: "Inter", sans-serif;
}

.login{
    display: flex;
    height: 100%;
}

.login__box{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__box--left{
    width: 35%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/images/bg-login-left.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

.login__box--right{
    width: 65%;
    background-image: url(./assets/images/bg-login-right.png);
   background-size: cover;
   background-repeat: no-repeat;
}

.login__title{
margin-bottom: 1.5rem;
}

.login__title--lg{
    font-size: 4rem;
    font-weight: 700;
}

.login__title--md{
    font-size: 3rem;
    font-weight: 700;
}



.login__subtitle{
    font-size: 2.25rem;
    font-weight: 600;
    font-style: italic;
}

.form{
    width: 35%;
}

.form__label{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0.5rem;
}

.form__input{
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    border: none;
    padding: 1em;
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: #ffffff;
    margin-bottom: 1rem;
    transition: border 0.3s;
}

.form__input:focus{
    border-color: rgba(20, 215, 82, 1);
}

.form__wrapper .form__input{
    padding-right: 2.5em !important;
}

.form__label, .form__input{
    display: block;
    width: 100%;
}

.form__line{
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.04) 10.95%, rgba(255, 255, 255, 0.4) 52.28%, rgba(255, 255, 255, 0.04) 90%);
    height: 2px;
    outline: none;
    border: none;
    margin-block: 2rem;
}

.form__wrapper{
    position: relative;
}

.form__icon{
    width: unset !important;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
}

.form__action{
    display: flex;
    align-items: center;
    gap: 1rem
}

.btn {
    cursor: pointer;
    width: 50%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

.btn--primary{
    background-color: rgba(7, 70, 27, 1);
    color: #ffffff;
    padding: 0.75rem 1.5rem;
}


.btn--link{
    color: #ffffff;
}

.navbar {
  --bs-emphasis-color-rgb: 255, 255, 255;
}

.navbar-nav {
  --bs-nav-link-font-weight: 600;
}

.bg-success {
  --bs-success-rgb: 12, 129, 49;
}

.text-secondary {
  --bs-secondary-rgb: 184, 184, 184;
}

.btn-success {
  --bs-btn-bg: #0c8131;
  --bs-btn-border-color: #0c8131;
  --bs-btn-font-weight: 600;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
}

.btn-warning {
  background: linear-gradient(180deg, #fc5b31 0%, #f0813d 100%);
  color: rgba(255, 255, 255, 1);
}

.btn-warning:hover {
  opacity: 0.8;
  color: rgba(255, 255, 255, 1);
}

.map-container {
  height: 12.5rem;
  flex: 1;
  border-radius: 1.125rem;
  box-shadow: -12px -12px 14px 0px rgba(255, 255, 255, 0.66), 5px 5px 9px 0px rgba(0, 0, 0, 0.16);
}

.aligned-list.detail b {
  width: 15%;
}

.aligned-list {
  padding-left: 0;
  list-style-type: none;
}

.aligned-list b {
  display: inline-block;
  position: relative;
  padding-right: 2px; /* Ensures colon does not overlay the text */
}

.aligned-list b::after {;
  position: absolute;
  right: 2px;
}

.neumorph-card {
  border-radius: 1.125rem;
  background: #f2f2f2;
  box-shadow: -8px -8px 14px 0px rgba(255, 255, 255, 0.7), 4px 4px 9px 0px rgba(0, 0, 0, 0.12);
}

.neumorph-card-title {
  border-radius: 0.25rem;
  background: #f2f2f2;
  box-shadow: -8px -8px 8px 0px rgba(255, 255, 255, 0.8), 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
  color: #b5b5b5;
}

.neumorph-input {
  border: none;
  background: #f2f2f2;
  box-shadow: -3px -3px 3px 0px rgba(255, 255, 255, 0.55) inset, 2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.neumorph-input.search {
  padding-left: 2.5rem;
}

.neumorph-input:focus {
  background: #f2f2f2;
  box-shadow: -3px -3px 3px 0px rgba(255, 255, 255, 0.55) inset, 2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.neumorph-input::placeholder {
  color: #b8b8b8;
}

.neumorph-table thead tr,
.neumorph-table tbody tr {
  background: #f2f2f2;
  box-shadow: -8px -8px 14px 0px rgba(255, 255, 255, 0.7), 4px 4px 9px 0px rgba(0, 0, 0, 0.12);
}

.neumorph-table tbody:before {
  content: "@";
  display: block;
  line-height: 30px;
  text-indent: -99999px;
  box-shadow: none;
}

.cursor-pointer {
  cursor: pointer;
}
