<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Login</title>
  </head>
  <body>
    <section class="login">
      <div class="login__box login__box--left">
        <div>
          <h5 class="login__title login__title--lg">Hello bitch! 👋</h5>
          <p class="login__subtitle">
            Welcome to, <br />
            Ticketing System.
          </p>
        </div>
      </div>
      <div class="login__box login__box--right">
        <form class="form" action="#" method="post">
          {% csrf_token %}
          <h5 class="login__title login__title--md">Login</h5>
          {{ form.username.label_tag }}
          {{ form.username }}
<!--          <label class="form__label" for="username">Username</label>-->
<!--          <input class="form__input" id="username" type="text" />-->
<!--          <label class="form__label" for="password">Password</label>-->
          {{ form.password.label_tag }}
          <div class="form__wrapper">
<!--            <input class="form__input" id="password" type="password" />-->
            {{ form.password }}
            <button type="button" class="btn btn--link form__icon">
              <i class="fa-solid fa-eye-slash"></i>
            </button>
          </div>
          <hr class="form__line" />
          <div class="form__action">
            <a class="btn btn--link" href="#">Lupa password</a>
            <button class="btn btn--primary">Login <i class="fa-solid fa-arrow-right"></i></button>
          </div>
        </form>
      </div>
    </section>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const passwordInput = document.querySelector(`input[type="password"]`);
      const buttonHideShowPassword = document.querySelector(".form__icon");

      buttonHideShowPassword.addEventListener("click", function () {
        this.querySelector("i").classList.toggle("fa-eye-slash");
        this.querySelector("i").classList.toggle("fa-eye");
        passwordInput.type = passwordInput.type === "password" ? "text" : "password";
      });
    });
  </script>
</html>
